{% extends "bookshelf/index.html" %}
{% block title %}Add Book
{% endblock %}

{% block bodyPag %}
<header>
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'addBook.css'%}">

</header>
<div class="main">
<label>Add Book</label>
    <form action="{% url 'bookshelf:adicionarlivro'%}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    Name:<input id="name" name="name" type="text">
    Authors: <input id="authors" name="authors" type="text">
    Description:<input id="description" name="description" type="text">
    Book Cover:<input type="file" name="myfile">
    <label for="pud_data">Release Date:</label>
    <input type="datetime-local" id="pud_data" name="pud_data" >

    <input style="font-size: 10px; width: 30%;" type="submit" value="Register">
</form>

</div>
{% endblock %}
{% block content %}
{% endblock %}
