{% extends "bookshelf/index.html" %}

{% block title %}Ver Livros{% endblock %}

{% block bodyPag %}
<div class="container">
<header>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'verliv.css'%}">
    <div class="nav">
    <div class="topnav">
    <a href="{% url 'bookshelf:verlivrosToRead' %}">To Read</a>
    <a href="{% url 'bookshelf:verlivrosReading'  %}">Reading</a>
    <a href="{% url 'bookshelf:verlivrosReaded'  %}">Readed</a>
    <a href="{% url 'bookshelf:verlivros'  %}">All</a><br>
         </div>
    {% if url != "verlivrospesquisa" %}
    <form method="get" id="book-form">
        <label for="order_by">Sort By:</label>
        <select name="order_by" id="order_by">
            <option value="-pub_data"{% if order_by == '-pub_data' %} selected{% endif %}>Release Date (Newest First)</option>
            <option value="pub_data"{% if order_by == 'pub_data' %} selected{% endif %}>Release Date (Oldest First)</option>
            <option value="-rating"{% if order_by == '-rating' %} selected{% endif %}>Rating (Highest First)</option>
            <option value="rating"{% if order_by == 'rating' %} selected{% endif %}>Rating (Lowest First)</option>
        </select>
        <button type="submit">Sort</button>
    </form>
        </div>
     {% endif %}
   <!-- <form action="{% url 'bookshelf:verlivrospesquisa' %}"
          method="post">
        {% csrf_token %}
        Pesquisar:<br><input id="pesquisa" name="pesquisa" type="text"><br>
        <input style="margin-top: 10px;" type="submit" value="pesquisa">
    </form>-->
</header>
{% if livros %}
{% load static %}
<div class='list flex-column'>
<ul id="lista-livros">
    {% for book in livros %}

    <ul>
        <div class='card flex-row '>
            <img id="book-cover" src="{% static book.image %}" alt="Imagem não encontrada" class="rounded-image-mini" title="Book Cover" class='book_cover'>

            <div class='flex-column info'>
            <div class='title'>{{ book.name }}</div>
            <div class='data'>Release Date: {{ book.pub_data.day }}/{{ book.pub_data.month }}/{{ book.pub_data.year }}</div>

            </div>
            <div class='flex-column group'>
                 <div class='rate'>Rating: {{ book.rating }}/5</div>
                <div class='hidden bottom'><button class='simple'><a href="{% url 'bookshelf:detalhe' book.id %}">Detalhes</a></button></div>
            </div>

        </div>
    </ul>

    {% endfor %}
</ul>
</div>
{% else %}
<p>Bookshelf empty.</p>
{% endif %}
<script>
  document.querySelector('#book-form').addEventListener('submit', function() {
    event.preventDefault();
    const orderBy = document.querySelector('#order_by').value;
    window.location.href = window.location.href.split('?')[0] + '?order_by=' + orderBy;
  });
</script>
    </div>

{% endblock %}


